body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
    padding-left: 60px;
}

span {
    font-size: 18px;
}

header {
    text-align: center;
    padding: 20px;
}

h2, h3 {
    color: #39ff14;
    padding-left: 30px;
}

h1 {
    text-align: center;
    color: #39ff14;
}

#web_title {
    font-size: 60px;
    text-align: center;
    color: #39ff14
}

.nav-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #00FF00;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #32CD32;
}

.hybrid-creature {
    margin-bottom: 40px;
}

.creature-header {
    text-align: left;
}

.creature-content {
    display: flex;
    justify-content: space-between;
}

.creature-image, 
.creature-description, 
.creature-percentage {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creature-image img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.percentage-graph {
    text-align: center;
}

.creature-description p {
    margin: 0;
    text-align: center;
}

footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.reddit-button {
    display: inline-block;
    background-color: #FF4500;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.reddit-button:hover {
    background-color: #FF6347;
}
